@using BookShop.Data.Models
@using Microsoft.AspNetCore.Identity
@model BookShop.Web.ViewModels.Books.DetailsBookViewModel;
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Details";
}

<section class="d-flex">
    <article>
        <h2>@Model.Name</h2>
        <span>Автори: </span>
        @foreach (var author in Model.AuthorBooks)
        {
            <span><a href="/Authors/AllBooks/@author.AuthorId">@author.AuthorFullName</a></span>
        }
        <ul class="list-group">
            <li class="list-group-item">Издател: @Model.PublisherName</li>
            <li class="list-group-item">Брой страници: @Model.Pages</li>
            <li class="list-group-item">Година на издаване: @Model.YearOfIssue</li>
            <li class="list-group-item">Език: @Model.Language</li>
            <li class="list-group-item">ISBN: @Model.Isbn</li>
            <li class="list-group-item">
                <span>Категории: </span>
                @for (var i = 0; i < Model.BookCategories.Length; i++)
                {
                    var category = Model.BookCategories[i];
                    if (i == Model.BookCategories.Length - 1)
                    {
                        <span><a href="/Categories/All/@category.CategoryId">@category.CategoryName</a></span>
                    }
                    else
                    {
                        <span><a href="/Categories/All/@category.CategoryId">@category.CategoryName</a>,</span>
                    }
                }
            </li>
        </ul>
    </article>
    <article>
        <img src="@Model.Photos.First()" width="250px" alt="book" />
    </article>
</section>
@if (this.User.Identity.IsAuthenticated)
{
    <div class="container pb-cmnt-container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-body">
                        <form id="form" method="post" class="form-inline">
                            <textarea id="content" placeholder="Напиши коментара си тук" class="pb-cmnt-textarea"></textarea>
                            <span class="text-danger"></span>
                            <button id="createBtn" class="btn btn-primary pull-right" type="button">Изпрати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts {
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const textarea = document.getElementById('content');
                document.getElementById('createBtn').addEventListener("click",
                    async (e) => {
                        e.preventDefault();

                        const uri = '@Url.Action("Create", "Comments")';
                        const token = document.querySelector('#form input[name=__RequestVerificationToken]').value;
                        const data = {
                            'Description': textarea.value,
                            'BookId': @Model.Id,
                            'UserId': '@this.UserManager.GetUserId(this.User)'
                        };

                        fetch(uri,
                            {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                    'X-CSRF-TOKEN': token
                                },
                                body: JSON.stringify(data)
                            });

                        textarea.value = '';
                    });
            });
        </script>
    }
}

<div id="comments">
    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <div class="d-flex justify-content-lg-between">
                <h4>@comment.UserFullName</h4>
                <p>@comment.CreatedOn.ToShortDateString()</p>
            </div>
            <p>@comment.Description</p>
        </div>
    }
</div>